[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock
datadir = /var/lib/mysql
user = mysql
lc-messages-dir = /usr/share/mysql
character-set-server = utf8
collation-server = utf8_general_ci

## Default DB engine setting
default-storage-engine = innodb

## DB base settinngs
max_connections = 3000
thread_cache_size = 1000
wait_timeout = 1000
#key_buffer_size = 64M
key_buffer_size = 8M
table_open_cache = 2048
sort_buffer_size = 4M
join_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
#max_allowed_packet = 16M
max_allowed_packet = 4M
#max_heap_table_size = 256M
max_heap_table_size = 64M
#tmp_table_size = 256M
tmp_table_size = 64M
query_cache_type = 0
query_cache_size = 0
skip-external-locking
skip-name-resolve

# semi sync replication
#plugin-load=rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_slave_enabled=1

## for InnoDB param
#innodb_buffer_pool_size = 6603839897
#innodb_buffer_pool_size = 3G
innodb_buffer_pool_size = 256M 
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit = 1
#innodb_additional_mem_pool_size = 16M
innodb_additional_mem_pool_size = 4M
innodb_file_per_table
#innodb_log_buffer_size = 32M
innodb_log_buffer_size = 16M
innodb_log_file_size = 1650959974
innodb_lock_wait_timeout = 30
innodb_open_files = 2048
innodb_flush_method = O_DIRECT

# replication (master/slave)
log-bin=mysql-bin
log-bin-index = mysql-bin.index
binlog_format = mixed
server-id = 999
relay-log = mysqld-relay-bin
relay-log-index=mysql-relay-bin.index
relay_log_purge=0
log_slave_updates = 1
replicate-ignore-db = mysql,information_schema
skip_slave_start
#read_only

## slowlog settings
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 3
min_examined_row_limit = 10000
expire_logs_days = 2
log-queries-not-using-indexes

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid

## errorlog setting
log_error = /var/log/mysql/error.log

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set = utf8

[mysql]
no-auto-rehash
default-character-set = utf8

#[client]
#default-character-set = utf8
